<div class="ui bottom attached active tab segment" data-tab="home">
    <div class="ui icon message">
        <i class="info icon"></i>
        <div class="content">
            <div class="header">
                Welcome to RACI App
            </div>
            <dl>
                <dt>
                    <p>RACI matrix is used to reveal and define roles and responsibilities in projects and processes
                        that span
                        throughout different teams in an organization.<br>RACI is acroynm of following roles (source:
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://en.wikipedia.org/wiki/Responsibility_assignment_matrix">Wikipedia</a>):</p>
                </dt>
                <dt>
                    <u><b>R</b>esponsible</u>:
                </dt>
                <dd>Those who do the work to complete the task. There is at least one
                    role
                    with a participation type of responsible, although others can be delegated to assist in the
                    work
                    required.</dd>
                <dd>
                <dt><u><b>A</b>ccountable</u>:</dt>
                <dd>The one ultimately answerable for the correct and thorough
                    completion
                    of
                    the deliverable or task, the one who ensures the prerequisites of the task are met and who
                    delegates
                    the work to those responsible. There must be only one accountable specified for each task or
                    deliverable.</dd>
                </dd>
                <dt><u><b>C</b>onsulted</u>:</dt>
                <dd>Those whose opinions are sought, typically subject-matter experts;
                    and
                    with
                    whom there is two-way communication.</dd>
                <dt><u><b>I</b>nformed</u>:</dt>
                <dd>Those who are kept up-to-date on progress, often only on completion
                    of
                    the
                    task or deliverable; and with whom there is just one-way communication.</li>
                </dd>
            </dl>
        </div>
    </div>
</div>